@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}


.earthImg {
    height: 50px;
    width: 50px;
    background-image: url('../assets/earth.png');
    background-size: cover;
    border: none;
    vertical-align: middle;
    margin-right: 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 15px;
}

.header p {
    display: flex;
    align-items: center;
    margin: 2px;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    max-width: 450px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

/* Navbar Styles */
.navbar {
    background-color: #75afed;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#loc {
    font-size: x-large;
    padding: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #030cb9;
}

#locationInput {
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #75afed;
}

#locationForm {
    text-align: center;
    border: 1px solid #09ac58;
    margin: 15px;
    margin-top: 8%;
    padding: 15px;
    max-width: 500px;
    width: 90%;
    position: relative;
    background: url('../assets/clouds.jpg');
    background-size: cover;
    object-fit: cover;
    opacity: 0.7;
    margin-left: auto;
    margin-right: auto;
    transition: width 0.3s;
}

#btn {
    margin: 15px;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #2b66a6;
    opacity: 100%;
    color: solid black;
}

#btn:hover {
    background: #75afed;
    color: #fff;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
}


#github{
    background: url('../assets/GitHub.png');
    background-size: cover;
    height: 50px;
    width: 50px;
}

@media (max-width: 768px) {
    .header {
        font-size: 18px;
        margin-top: 55px;
    }

    /* Adjust styles for smaller screens */
    .search-container {
        margin-top: 5%;
    }

    #locationForm {
        padding: 10px;
        width: 75%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #btn {
        margin-top: 10px;
    }

    #loc {
        font-size: small;
    }


}